@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

//let set up our default styling
:root {
    --primaryColor: #c75151;
    --hoverColor: #dd9696;
    --palePink: #f3dcdc;
    --whiteColor: #ffffff;
    --blackColor: #303030;
    --grayText: #bbbbbb;
    --bgColor: #f9eded;
    --inputColor: #f8f6f7;

    /* Font ang typography*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

html {
    font-size: 90%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon {
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img,
video {
    height: auto;
    width: 100%;
}

.message {
    display: none;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    color: var(--grayText);
}

.btn .icon {
    margin-left: 0.5rem;
}

.btn:hover {
    color: var(--primaryColor);
    background: var(--palePink);
}

//pages stylings
.loginPage,
.registerPage {
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(230, 205, 220);

    .container {
        height: 85vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background: #ded5d9;

        .videoDiv {
            position: relative;
            display: flex;
            flex-basis: 50%;
            width: 70%;
            height: 100%;
            padding: 0 1.5rem;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            border-radius: 10px;
            overflow: hidden;

            video,
            .footerDiv {
                position: absolute;
            }
            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }

            .textDiv {
                position: relative;

                .title {
                    color: var(--whiteColor);
                    font-size: 35px;
                    font-weight: 800;
                    background-color: rgba(55, 54, 54, 0.178);
                    border-radius: 10px;
                    backdrop-filter: blur(6px);
                    padding: 5rem 0.5rem;
                    margin: 0;
                }
            }

            .footerDiv {
                bottom: 10px;
                padding: 0 1rem;
                height: 60px;
                background: rgba(8, 2, 2, 0.179);
                border-radius: 10px;
                left: 10px;
                right: 10px;
                justify-content: space-between;
                backdrop-filter: blur(6px);

                .text {
                    color: var(--whiteColor);
                    font: 30px;
                    font-weight: bold;
                }

                .btn {
                    background: rgba(15, 11, 11, 0.674);
                    color: var(--whiteColor);
                    padding: 0.8rem 1.5rem;
                    border-radius: 10px;
                    font-weight: bold;
                    transition: 0.3s ease;

                    &:hover {
                        background: var(--hoverColor);
                        color: var(--blackColor);
                    }
                }
            }
        }

        .formDiv {
            flex-basis: 50%;
            margin: auto;
            flex-direction: column;
            gap: 0.5rem;
            transform: translate(-1rem);

            .headerDiv {
                text-align: center;
                padding: 1.5rem 0;

                img {
                    width: 100px;
                    padding-bottom: 1.5rem;
                }

                h3 {
                    font-size: 20px;
                    color: var(--blackColor);
                    font-weight: 600;
                }
            }
            .form {
                gap: 1rem;
                .inputDiv {
                    .icon {
                        color: var(--grayText);
                    }

                    input {
                        background: none;
                        outline: none;
                        border: none;
                        width: 200px;
                    }

                    .input {
                        gap: 0.5rem;
                        padding: 1rem;
                        background: var(--inputColor);
                        border-radius: 10px;
                    }
                }

                .btn {
                    padding: 0.8rem;
                    background: var(--primaryColor);
                    border-radius: 10px;
                    color: var(--whiteColor);
                    align-items: center;
                    margin: auto;
                    justify-content: center;
                    font-size: 16px;
                    gap: 0.5rem;
                    width: 100%;
                    transition: 0.3s ease;
                    font-weight: bold;

                    .icon {
                        font-size: 25px;
                        transition: 0.3s ease;
                    }

                    &:hover {
                        background: var(--hoverColor);
                        color: var(--blackColor);

                        .icon {
                            color: var(--blackColor);
                            transform: translateX(5px);
                        }
                    }
                }

                .forgotPassword {
                    color: var(--blackColor);
                    font-size: 13px;
                    opacity: 0.7;
                    text-align: center;
                }
            }
        }
    }
}

//Queries for login and register

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .loginPage,
    .registerPage {
        .container {
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: 1.5rem;

            .videoDiv {
                width: 100%;
                .textDiv {
                    .title {
                        font-size: 20px;
                        background-color: rgba(55, 54, 54, 0);
                    }

                    p {
                        padding: 1rem;
                    }
                }

                .footerDiv {
                    .text {
                        font-size: 12px;
                    }

                    .btn {
                        padding: 0.4rem 1.5rem;
                    }
                }
            }

            .formDiv {
                gap: 1rem;
                transform: translateY(-0.5rem);

                .headerDiv {
                    padding: 1rem 0;

                    img {
                        width: 60px;
                        padding-top: 1rem;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }

                .form {
                    gap: 0.5rem;

                    .inputDiv {
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .loginPage,
    .registerPage {
        .container {
            height: 100%;
            width: 100%;

            .videoDiv {
                width: 100%;
                .textDiv {
                    .title {
                        font-size: 25px;
                    }

                    p {
                        padding: 1rem;
                    }
                }

                .footerDiv {
                    .text {
                        font-size: 12px;
                    }

                    .btn {
                        padding: 0.8rem 1.5rem;
                    }
                }
            }

            .formDiv {
                .headerDiv {
                    padding: 0.5rem 0;

                    h3 {
                        font-size: 20px;
                    }
                }

                .form {
                    .inputDiv {
                        input {
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .loginPage,
    .registerPage {
        .container {
            height: 100%;
            width: 100%;

            .videoDiv {
                width: 100%;
                .textDiv {
                    .title {
                        font-size: 25px;
                    }

                    p {
                        padding: 1rem;
                    }
                }

                .footerDiv {
                    .text {
                        font-size: 12px;
                    }

                    .btn {
                        padding: 0.8rem 1.5rem;
                    }
                }
            }

            .formDiv {
                .headerDiv {
                    padding: 1.5rem 0;

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }

                .form {
                    .inputDiv {
                        input {
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .loginPage,
    .registerPage {
        .container {
            width: 60%;
            height: 95%;
            flex-direction: row;

            .videoDiv {
                width: 50%;
                height: 100%;
                .textDiv {
                    .title {
                        font-size: 25px;
                    }
                }
            }

            .formDiv {
                img {
                    width: 100px;
                }
            }
        }
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

//hide scroll bar

::-webkit-scrollbar {
    display: none;
}

.table-wrapper {
    position: relative;

    table {
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid white;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        margin: 20px 0;
        table-layout: fixed;
        text-overflow: ellipsis;

        td {
            text-align: left;
            border: 1px solid #ddd;
            padding: 8px;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        th {
            text-align: left;
            border: 1px solid #ddd;
            padding: 8px;
            background-color: #c75151;
            color: white;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
