@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primaryColor: #c75151;
    --hoverColor: #dd9696;
    --palePink: #f3dcdc;
    --whiteColor: #ffffff;
    --blackColor: #303030;
    --grayText: #bbbbbb;
    --bgColor: #f9eded;
    --inputColor: #f8f6f7;
    /* Font ang typography*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

html {
    font-size: 90%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon {
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img,
video {
    height: auto;
    width: 100%;
}

.message {
    display: none;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    color: var(--grayText);
}

.btn .icon {
    margin-left: 0.5rem;
}

.btn:hover {
    color: var(--primaryColor);
    background: var(--palePink);
}

.loginPage,
.registerPage {
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(230, 205, 220);
}
.loginPage .container,
.registerPage .container {
    height: 85vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: #ded5d9;
}
.loginPage .container .videoDiv,
.registerPage .container .videoDiv {
    position: relative;
    display: flex;
    flex-basis: 50%;
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.loginPage .container .videoDiv video,
.loginPage .container .videoDiv .footerDiv,
.registerPage .container .videoDiv video,
.registerPage .container .videoDiv .footerDiv {
    position: absolute;
}
.loginPage .container .videoDiv video,
.registerPage .container .videoDiv video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.loginPage .container .videoDiv .textDiv,
.registerPage .container .videoDiv .textDiv {
    position: relative;
}
.loginPage .container .videoDiv .textDiv .title,
.registerPage .container .videoDiv .textDiv .title {
    color: var(--whiteColor);
    font-size: 35px;
    font-weight: 800;
}
.loginPage .container .videoDiv .textDiv p,
.registerPage .container .videoDiv .textDiv p {
    color: var(--whiteColor);
    padding: 1rem;
    font-weight: 400;
}
.loginPage .container .videoDiv .footerDiv,
.registerPage .container .videoDiv .footerDiv {
    bottom: 10px;
    padding: 0 1rem;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    left: 10px;
    right: 10px;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
.loginPage .container .videoDiv .footerDiv .text,
.registerPage .container .videoDiv .footerDiv .text {
    color: var(--whiteColor);
}
.loginPage .container .videoDiv .footerDiv .btn,
.registerPage .container .videoDiv .footerDiv .btn {
    background: var(--whiteColor);
    color: var(--primaryColor);
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: 400;
    transition: 0.3s ease;
}
.loginPage .container .videoDiv .footerDiv .btn:hover,
.registerPage .container .videoDiv .footerDiv .btn:hover {
    background: var(--hoverColor);
    color: var(--blackColor);
}
.loginPage .container .formDiv,
.registerPage .container .formDiv {
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    gap: 0.5rem;
    transform: translate(-1rem);
}
.loginPage .container .formDiv .headerDiv,
.registerPage .container .formDiv .headerDiv {
    text-align: center;
    padding: 1rem 0;
}
.loginPage .container .formDiv .headerDiv img,
.registerPage .container .formDiv .headerDiv img {
    width: 100px;
    padding-bottom: 0.1rem;
}
.loginPage .container .formDiv .headerDiv h3,
.registerPage .container .formDiv .headerDiv h3 {
    font-size: 20px;
    color: var(--blackColor);
    font-weight: 600;
}
.loginPage .container .formDiv .form,
.registerPage .container .formDiv .form {
    gap: 1rem;
}
.loginPage .container .formDiv .form .inputDiv,
.registerPage .container .formDiv .form .inputDiv {
    /*label{
      color: var(--blackColor);
      font-weight: 400;
      font-size: 14px;
      padding: .5rem 0;
      display: block;
  }*/
}
.loginPage .container .formDiv .form .inputDiv .icon,
.registerPage .container .formDiv .form .inputDiv .icon {
    color: var(--grayText);
}
.loginPage .container .formDiv .form .inputDiv input,
.registerPage .container .formDiv .form .inputDiv input {
    background: none;
    outline: none;
    border: none;
    width: 200px;
}
.loginPage .container .formDiv .form .inputDiv .input,
.registerPage .container .formDiv .form .inputDiv .input {
    gap: 0.5rem;
    padding: 1rem;
    background: var(--inputColor);
    border-radius: 10px;
}
.loginPage .container .formDiv .form .inputDiv .error,
.registerPage .container .formDiv .form .inputDiv .error {
    color: var(--primaryColor);
    font-size: 12px;
    margin-top: 0.25rem;
}
.loginPage .container .formDiv .form .btn,
.registerPage .container .formDiv .form .btn {
    padding: 0.8rem;
    background: var(--primaryColor);
    border-radius: 10px;
    color: var(--whiteColor);
    align-items: center;
    margin: auto;
    justify-content: center;
    font-size: 16px;
    gap: 0.5rem;
    width: 100%;
    transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn .icon,
.registerPage .container .formDiv .form .btn .icon {
    font-size: 25px;
    transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn:hover,
.registerPage .container .formDiv .form .btn:hover {
    background: var(--hoverColor);
    color: var(--blackColor);
}
.loginPage .container .formDiv .form .btn:hover .icon,
.registerPage .container .formDiv .form .btn:hover .icon {
    color: var(--blackColor);
    transform: translateX(5px);
}
.loginPage .container .formDiv .form .forgotPassword,
.registerPage .container .formDiv .form .forgotPassword {
    color: var(--blackColor);
    font-size: 13px;
    opacity: 0.7;
    text-align: center;
    /*a{
      text-decoration: underline;
      cursor:pointer ;
      opacity: 1;
  }*/
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .loginPage .container,
    .registerPage .container {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 1.5rem;
    }
    .loginPage .container .videoDiv,
    .registerPage .container .videoDiv {
        width: 100%;
    }
    .loginPage .container .videoDiv .textDiv .title,
    .registerPage .container .videoDiv .textDiv .title {
        font-size: 20px;
    }
    .loginPage .container .videoDiv .textDiv p,
    .registerPage .container .videoDiv .textDiv p {
        padding: 1rem;
    }
    .loginPage .container .videoDiv .footerDiv .text,
    .registerPage .container .videoDiv .footerDiv .text {
        font-size: 12px;
    }
    .loginPage .container .videoDiv .footerDiv .btn,
    .registerPage .container .videoDiv .footerDiv .btn {
        padding: 0.4rem 1.5rem;
    }
    .loginPage .container .formDiv,
    .registerPage .container .formDiv {
        gap: 1rem;
        transform: translateY(-0.5rem);
    }
    .loginPage .container .formDiv .headerDiv,
    .registerPage .container .formDiv .headerDiv {
        padding: 1rem 0;
    }
    .loginPage .container .formDiv .headerDiv img,
    .registerPage .container .formDiv .headerDiv img {
        width: 40px;
    }
    .loginPage .container .formDiv .headerDiv h3,
    .registerPage .container .formDiv .headerDiv h3 {
        font-size: 20px;
    }
    .loginPage .container .formDiv .form,
    .registerPage .container .formDiv .form {
        gap: 0.5rem;
    }
    .loginPage .container .formDiv .form .inputDiv input,
    .registerPage .container .formDiv .form .inputDiv input {
        width: 100%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .loginPage e0 .container,
    .registerPage e0 .container {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 1.5rem;
    }
    .loginPage e0 .container .videoDiv,
    .registerPage e0 .container .videoDiv {
        width: 100%;
    }
    .loginPage e0 .container .videoDiv .textDiv .title,
    .registerPage e0 .container .videoDiv .textDiv .title {
        font-size: 25px;
    }
    .loginPage e0 .container .videoDiv .textDiv p,
    .registerPage e0 .container .videoDiv .textDiv p {
        padding: 1rem;
    }
    .loginPage e0 .container .videoDiv .footerDiv .text,
    .registerPage e0 .container .videoDiv .footerDiv .text {
        font-size: 12px;
    }
    .loginPage e0 .container .videoDiv .footerDiv .btn,
    .registerPage e0 .container .videoDiv .footerDiv .btn {
        padding: 0.8rem 1.5rem;
    }
    .loginPage e0 .container .formDiv .headerDiv,
    .registerPage e0 .container .formDiv .headerDiv {
        padding: 1.5rem 0;
    }
    .loginPage e0 .container .formDiv .headerDiv h3,
    .registerPage e0 .container .formDiv .headerDiv h3 {
        font-size: 20px;
    }
    .loginPage e0 .container .formDiv .form .inputDiv input,
    .registerPage e0 .container .formDiv .form .inputDiv input {
        width: 100%;
        max-width: 200px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .loginPage .container,
    .registerPage .container {
        height: 100%;
        width: 100%;
    }
    .loginPage .container .videoDiv,
    .registerPage .container .videoDiv {
        width: 100%;
    }
    .loginPage .container .videoDiv .textDiv .title,
    .registerPage .container .videoDiv .textDiv .title {
        font-size: 25px;
    }
    .loginPage .container .videoDiv .textDiv p,
    .registerPage .container .videoDiv .textDiv p {
        padding: 1rem;
    }
    .loginPage .container .videoDiv .footerDiv .text,
    .registerPage .container .videoDiv .footerDiv .text {
        font-size: 12px;
    }
    .loginPage .container .videoDiv .footerDiv .btn,
    .registerPage .container .videoDiv .footerDiv .btn {
        padding: 0.8rem 1.5rem;
    }
    .loginPage .container .formDiv .headerDiv,
    .registerPage .container .formDiv .headerDiv {
        padding: 1.5rem 0;
    }
    .loginPage .container .formDiv .headerDiv h3,
    .registerPage .container .formDiv .headerDiv h3 {
        font-size: 20px;
    }
    .loginPage .container .formDiv .form .inputDiv input,
    .registerPage .container .formDiv .form .inputDiv input {
        width: 100%;
        max-width: 200px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .loginPage .container,
    .registerPage .container {
        width: 60%;
        height: 95%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/
/*@media screen and (max-width:602px) {
    .loginPage, .registerPage{
        .container{
            height: 100%;
            width: 100%;
            flex-direction: column;
            padding: 1.5rem;

            .videoDiv{
                width: 100%;
                .textDiv{
                    .title{
                        font-size: 20px;
                    }

                    p{
                        padding: 1rem;
                    }
                }

                .footerDiv{
                    .text{
                        font-size: 12px;
                    }

                    .btn{
                        padding: .4rem 1.5rem;
                    }
                }
            }

            .formDiv{
                gap:1rem;
                transform: translateY(-.5rem);

                .headerDiv{
                    padding: 1rem 0;

                    img{
                        width: 40px;
                    }

                    h3{
                        font-size: 20px;
                    }
                }

                .form{
                    gap: .5rem;

                    .inputDiv{
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}*/
/*@media screen and (max-width:678px) {
    .loginPage, .registerPage{
        .container{
            height: 100%;
            .videoDiv{
                .textDiv{
                    .title{
                        font-size: 25px;
                    }

                    p{
                        padding: 1rem;
                    }
                }

                .footerDiv{
                    .text{
                        font-size: 12px;
                    }

                    .btn{
                        padding: .8rem 1.5rem;
                    }
                }
            }

            .formDiv{
                .headerDiv{
                    padding: 1.5rem 0;

                    h3{
                        font-size: 20px;
                    }
                }

                .form{

                    .inputDiv{
                        input{
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }
}*/
/*@media screen and (max-width:927px) {
    .loginPage, .registerPage{
        .container{
            width: 85%;
            height: 100%;

        }
    }
}*/
::-webkit-scrollbar {
    display: none;
}

.loading-spinner {
    --size: 40px;
    --loading-clr: white;
    width: var(--size);
    height: var(--size);
    border-right: 2px solid var(--loading-clr);
    border-radius: 50%;
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
}
@-webkit-keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
/*# sourceMappingURL=App.css.map */

.table-wrapper {
    overflow-x: auto;

    table {
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid white;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        margin: 20px 0;
        td {
            text-align: left;
            border: 1px solid #ddd;
            padding: 8px;
            font-weight: bold;
        }
        th {
            text-align: left;
            border: 1px solid #ddd;
            padding: 8px;
            background-color: #c75151;
            color: white;
        }
    }
}
